.scroll-reveal {
  margin: 50px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
}

.word {
  display: inline-block;
  color: #fff;
}
